/* definições @font-face */
@import url(fonts/fonts.css);

select {
	width: 236px;
	height: 32px;
	-webkit-box-shadow: inset 0 2px 2px #8f8f8f;
	box-shadow: inset 0 2px 2px #8f8f8f;
	border-radius: 4px;
}

textarea, input[type="text"], input[type="password"], select {
	background-image: none;
	font-size: 20px;
}

table {
	border: none !important;
}

div {
	display: block;
}

/*Estilo para Grids*/
.pn_grid {
	clear: both;
	width: 100%;
	padding: 0px !important;
}

.pn_grid .ui-panel-content {
	padding: 0px !important;
}

.pn_grid .ui-datatable-header {
	border-top: none;
	border-radius: 0px;
}

.pn_buttons .ui-panel-titlebar {
	border-bottom: none;
	border-radius: 0px;
}

/*Panel Transparent*/
.pn_transparent {
	border: none;
	background-color: transparent !important;
}

/*ToolBar para Grids*/
.tb_grid {
	height: 10px;
}

/*Icones para botões*/
.img_ico_button {
	float: left;
	height: 10px;
}

.cl_codigo {
	width: 100px;
	text-align: center;
}

/*Colunas de Ações (Editar e Excluir)*/
.cl_actions {
	width: 20px;
}

.fm_label_field
,
{
display
:
 
block
;

	
float
:
 
left
;

	
width
:
 
80
px
;

	
clear
:
 
both
;

	
padding-top
:
 
5
px
;

	
font-size
:
 
15
px
;


}
.fm_field .ui-panel-content{
	width:237px;
	padding: 0px
	
}
	
.fm_field {
	width: 50px;
	padding: 0px;
	border: 0px;
}

.ui-panelgrid-content {
	border: none;
}

.fm_label_field{
	height: 35px;
}

.fm_area {
	margin-top: 10px;
	display: table;
	width: 100%;
}

.fm_buttons {
	clear: both;
}

.fm_button .ui-panel-content {
	padding: 2px 5px;
}

.fm_button {
	display: block;
	float: left;
	background: transparent;
	border: none;
}

.fm_button img {
	width: 20px;
}

.fm_atendimento{
	
	
}


.ui-inputfield, .ui-selectonemenu-label, .ui-outputlabel{
	
	font-size: 12px !important;
	font-weight: bold;
}

.grid_5 .ui-panelgrid-cell{
	
	width : 20%;
	
}
.grid_6 .ui-panelgrid-cell{
	
	width : 12%;
	
}

@media screen and   (min-width: 461px) and (max-width: 1109px){
	.ui-grid-row{
	
		display: block !important;
	
	}
	.grid_6 .ui-panelgrid-cell{
		width: 29%;
		float: left;
	}
	
	.fm_noivos .ui-grid-col-4{
	
		clear: both;
	
	}
	
} 

