@font-face {
	font-family: 'ColaborateLightRegular';
	src: url('../fonte/colablig-webfont.eot');
	src: url('../fonte/colablig-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonte/colablig-webfont.woff') format('woff'),
	     url('../fonte/colablig-webfont.ttf') format('truetype'),
	     url('../fonte/colablig-webfont.svg#ColaborateLightRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColaborateRegular';
	src: url('../fonte/colabreg-webfont.eot');
	src: url('../fonte/colabreg-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonte/colabreg-webfont.woff') format('woff'),
	     url('../fonte/colabreg-webfont.ttf') format('truetype'),
	     url('../fonte/colabreg-webfont.svg#ColaborateRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColaborateMediumRegular';
	src: url('../fonte/colabmed-webfont.eot');
	src: url('../fonte/colabmed-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonte/colabmed-webfont.woff') format('woff'),
	     url('../fonte/colabmed-webfont.ttf') format('truetype'),
	     url('../fonte/colabmed-webfont.svg#ColaborateBoldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColaborateRegularBold';
	src: url('../fonte/colabbol-webfont.eot');
	src: url('../fonte/colabbol-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonte/colabbol-webfont.woff') format('woff'),
	     url('../fonte/colabbol-webfont.ttf') format('truetype'),
	     url('../fonte/colabbol-webfont.svg#ColaborateBoldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FONTES */

.rich-panel * {
	font-family:ColaborateLightRegular, Verdana, Arial !important; 
	color:#000 !important;
	font-size: 14px;
	outline: 0;
}

.rich-panel a {
	font-size:14px !important; 
	font-family:ColaborateLightRegular, Trebuchet MS; 
	color:#00aeef !important; 
	text-decoration:underline !important;
}

.rich-panel a:hover {
	color:#3E6AA6 !important; 
	text-decoration:underline !important;
}

.rich-panel .rich-datascr-button-dsbld.rich-datascr-button,
.rich-datascr-button {
	background: none;
	border: none;
}

.pv-titulo-sistema {
	margin:0 0 10px 0; 
	padding:0 0 5px 0; 
	font-family:ColaborateLight, Trebuchet MS !important; 
	font-size:40px; 
	color:#00263a !important;
}

.pv-titulo-pagina {
	margin:0 0 10px 0; 
	padding:0 0 5px 0; 
	font-family:ColaborateLight, Trebuchet MS !important; 
	font-size:24px; 
	color:#00263a !important;
}
.pv-titulo-fomulario {
	margin:0 0 10px 0; 
	padding:0 0 5px 0; 
	font-family:ColaborateMediumRegular, Trebuchet MS !important; 
	font-size:23px; 
	color:#008abe !important;
}

.pv-subtitulo { 
	margin:0 0 10px 0; 
	padding:0 0 5px 0; 
	font-family:ColaborateMediumRegular, Trebuchet MS !important; 
	font-size:23px; 
	color:#008abe !important; 
	font-weight:normal;
}

/* GERAL */ 

.rich-panel {
	padding: 0;
	border-color: #e1e1e1;
}

#conteudo {
	width: 78% !important;
	border: none !important;
	margin-bottom: 10px;
}

table,
table [id*="j_"],
div [id*="j_"]  {
	margin-left: 0 !important;
}

img {
	border: none;
}

/* ABA' */

.rich-panel .rich-tab-active,
.rich-tab-active {
	display: block;
	height: 24px;
	min-width: 36px;
	text-transform: uppercase;
	border-bottom: solid 1px #057EAB;
	padding: 11px 7px 12px;
	white-space: nowrap;
	/*cursor: pointer;*/
	text-decoration: none;
	background: #FFF;
	border: 1px solid 00314B!important;
	border-bottom: none !important;
	color: #FFF !important;
	text-decoration: none !important;
	background: none;
	background-color: none;
}

.rich-tabhdr-cell-active {
	background-color: #00314B;
}

.rich-panel .rich-tab-inactive,
.rich-tab-inactive {
	display: block;
	height: 24px;
	min-width: 36px;
	text-transform: uppercase;
	border-bottom: solid 1px #057EAB;
	padding: 11px 7px 11px;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
	background: #057EAB;
	color: #fff !important;
	text-decoration: none !important;
	text-transform: none;
}

.rich-tab-disabled  {
	display: block;
	height: 23px;
	min-width: 36px;
	text-transform: uppercase;
	padding: 11px 7px 11px;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
	border-bottom: solid 1px #E3DED5;
	background: #E3DED5;
	color: #aaa !important;
	text-decoration: none !important;
	text-transform: none;
}

.rich-panel .rich-tab-inactive,
.rich-panel .rich-tab-active,
.rich-panel .rich-tabhdr-side-cell,
.rich-tab-inactive,
.rich-tab-active,
.rich-tabhdr-side-cell {
	border: none;
	border-radius: none;
}

.rich-panel .rich-tabpanel-content,
.rich-panel .rich-tab-bottom-line,
.rich-tabpanel-content,
.rich-tab-bottom-line {
 	border-color: none;
}

.rich-panel .rich-tab-bottom-line,
.rich-tab-bottom-line {
	border-color:  #e1e1e1;
}

.rich-panel .rich-tabpanel-content,
.rich-tabpanel-content {
	margin-bottom: 30px;
	padding: 24px 9px 15px;
	border-color: #e1e1e1;
	margin-top: -15px;
	font-size: 14px;
	background: none;
}

.rich-panel .rich-tabhdr-side-cell,
.rich-panel .rich-tabhdr-side-border,
.rich-tabhdr-side-cell,
.rich-tabhdr-side-border {
	background: none;
}

/* PANEL (SANFONA) */

.rich-panel .rich-pmenu  {
	width: 100% !important;
}

.rich-panel .rich-pmenu-top-group-div {
	border: none;
}

.rich-panel .rich-pmenu-top-group {
	padding: 8px 12px;
	text-transform: uppercase;
	background: url(../img/bg/sanfona_header.jpg) repeat-x left center;
	text-transform: uppercase;
	color: #00314b !important;
	font-weight: bold;
	cursor: pointer;
	border: none;
}

.rich-panel .rich-pmenu-group-self-label {
	padding: 2px 10px 2px 28px;
	font-size: 18px;
	background: url(../img/bg/abrir_sanfona.png) no-repeat left center;	
}

.rich-panel .rich-pmenu-top-group-self-icon img {
	display: none;
}

.rich-panel .rich-pmenu-group-self-label.rich-pmenu-item-label {
	font-size: 14px;
	background: none;
}

.rich-panel .rich-pmenu-selected-element {
	font-style: normal;
}

/* TABLE */
table.rich-table  {
	border: none;
}

table.rich-table th,
table.rich-table .rich-table-footer td {
	color: #FFF !important;
	font-weight: normal !important;
	border-right: solid 1px #fcfcfc !important;
	border-bottom: solid 1px #fcfcfc !important;
	background: #095474 !important;
	padding: 10px 5px !important
}

table.rich-table th span,
table.rich-table th div {
	color: #fff !important;
}

table.rich-table td {
	text-align: center !important;
	font-weight: normal !important;
	/*border-right: solid 1px #fcfcfc !important;
	border-bottom: solid 1px #fcfcfc !important;*/
	border-color: #fcfcfc;
	padding: 10px 3px !important;
}

table.rich-table tr {
	background: #E5E5E5;
	font-size: 14px;
	padding: 0 !important;
}

table.rich-table .rich-table-footer {
	background: none !important;
}

.rich-table-cell {
	border-right: none;
	border-bottom: none;
}

table.rich-table .rich-table-cell {
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
}


/* PAGINACAO */

.rich-panel .rich-datascr table {
	background: none;
	border: none;
}

.rich-panel .rich-datascr table tr {
	background: none !important;
}

.rich-panel .rich-datascr-act {
	color: #00314b !important;
	border: none;
	background: url(../img/bg/bg_paginacao.png) right center no-repeat;
	text-align: center !important;
}

.rich-panel .rich-datascr-inact {
	text-decoration: none !important;
	font-family: ColaborateRegular, Trebuchet MS !important;
	font-size: 14px !important;
	color: #00aeef !important;
	border: none;
	background: url(../img/bg/bg_paginacao.png) right center no-repeat;
	text-align: center !important;
}

.rich-panel .rich-datascr-inact:last-child {
	background: none !important;
}

.rich-panel .rf-ds-btn-next,
.rich-panel .rf-ds-btn-prev {
	display: block;
	text-indent: -5000px;
	background: url(../img/bt/pg_avanca.png) center center no-repeat;
}

.rich-panel .rf-ds-btn-prev {
	background: url(../img/bt/pg_volta.png) center center no-repeat;
}

.rich-panel .rf-ds-btn-fastfwd {

}

.rich-panel .rf-ds-btn-last {

}

.rich-panel .rf-ds-btn-first.rf-ds-dis {

}

.rich-panel .rf-ds-btn-fastrwd.rf-ds-dis {

}

.rich-panel .rf-ds-btn-prev.rf-ds-dis {

}

/* CALENDARIO */

/*.rich-calendar-button:before,
.rich-calendar-button:after {
	position: relative;
	content: url(../img/ico/calendar.png);
}*/

.rich-calendar-button {
	margin-left: 2px !important;
}

.rich-calendar-exterior.rich-calendar-popup {
	border: 1px solid #095676;
}

.rich-calendar-header {
	background: #fff;
}

.rich-calendar-cell {
	color: #fff;
	background-color: #DDD;
	border-color: #fff;
}

.rich-calendar-week {
	background-color: #f8f8f8;
	border-color: #fff;
}

.rich-calendar-today {
	color: #fff !important;
	background-color: #06B0F2;
}

.rich-calendar-select,
.rich-calendar-days {
	color: #fff !important;
	background-color: #095676;
}

.rich-calendar-hover {
	color: #095676 !important;
	background-color: #fff;
}

.rich-calendar-tool-btn {
	font-size: 11px !important;
}

.rich-calendar-tool,
.rich-calendar-month {
	background: none;
}

.rich-calendar-footer {
	display: none;
}

/* MODAL */

.rich-mpnl-mask-div {
	filter: alpha(opacity=30);
	-moz-opacity: 0.30;
	opacity: 0.30;
	background: #000;
}

.rich-mpnl-content {
	height: auto;
	padding: 10px;
}

.rich-mpnl-header {
	font-size: 24px;
	font-family: ColaborateLightRegular, Verdana, Arial !important;
	color: #00263A !important;
	margin: 0;
	border: none;
	border-bottom: 1px solid;
	padding-bottom: 13px;
	margin-bottom: 15px;
	border-color: #676363;
	background: none;
}
.rich-mpnl-shadow {
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
}
.rich-mpnl-body {
	font-size: 14px;
}

.rich-mpnl-controls .hidelink,
.rich-mpnl-controls img {
	position: relative;
	display: block;
	top: 15px;
	right: 10px;
	width: 14px;
	height: 14px;
	cursor: pointer;
   	content:url(../img/ico/fechar_modal.gif);
   	/*background-image: url(../img/ico/fechar_modal.gif);
   	background-repeat: no-repeat;*/
}

/*.rich-mpnl-controls img {
	display: none
}*/

/* FORM */

.wizard input, 
.wizard select, 
.wizard textarea {
	font-size: 14px !important;
	color: #000 !important;
	border: 1px solid #C5C8CA;
	background: none repeat scroll 0 0 #E4E4E4;
	padding: 3px 5px;
}

.wizard input[type="radio"],
.wizard input[type="checkbox"] {
	background: none;
	border: none;
}

.wizard input[type="image"] {
	border: none;
}

.wizard table tr td label,
.wizard table tr td.rich-table-cell label  {
	margin: 0 0 4px 0 !important;
	font-weight: normal !important;
	font-family: ColaborateMediumRegular, Trebuchet MS !important;
	color: #00314b;
	font-size: 14px;
}

.rich-panel table.rich-table tr td.rich-table-cell label,
table.rich-table tr td.rich-table-cell label {
	font-family: ColaborateLightRegular, Trebuchet MS !important;
}

/*.wizard table td {
	border: none;
}*/

.rich-messages-label {
	margin-bottom: 20px;
	font-size: 16px;
	color: #6d6d6d !important;
}

label.pv-campo-obrigatorio {
	color: #ff5533 !important;
}

/* SANFONA */
.rich-stglpanel {
	border: none;
}

.rich-stglpanel-header {
	background: url(https://institucional.portoseguro.com.br/visual/v6-0/img/bg/sanfona_header.jpg) repeat-x left center;
	padding: 8px 12px;
	border: none;
	font-size: 14px;
	text-transform: uppercase;
	color: #00314b !important;
}

.rich-stglpanel-marker {
	float: left;
	text-indent: -9999px;
	width: 30px;
}

.rich-stglpnl-marker:first-child,
.rich-stglpnl-marker [id*="_switch_off"] {
	height: 30px;
	background: url(https://institucional.portoseguro.com.br/visual/v6-0/img/bg/fechar_sanfona.png) no-repeat;
}

.rich-stglpnl-marker:last-child,
.rich-stglpnl-marker [id*="_switch_on"] {
	height: 30px;
	background: url(https://institucional.portoseguro.com.br/visual/v6-0/img/bg/abrir_sanfona.png) no-repeat;
}

/* UPLOADER */
.rich-fileupload-toolbar-decor {
	background: none;
	border: none;
}


/* BUTTONS */

.rich-panel input[type="submit"],
.rich-panel input[type="button"],
input[type="submit"],
input[type="button"],
input[type="reset"] {
	padding: 10px !important;
	width: auto;
	color: #FFF !important;
	margin: 0;
	height: auto;
	cursor: pointer;
	border: 0;
	background: url(../img/bt/bt_right2.gif) no-repeat right center;
}

input[type="reset"] {
	background: url(../img/bt/bt_left.gif) no-repeat 0 0;
}

/* ÍCONES */

.rich-panel .ico {
	background-image: url(../img/ico/richfaces/sprite.png);
	background-repeat: no-repeat;
}

/* MENU */

.pv-menu-links-vertical-principal,
.pv-menu-links-vertical  {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pv-menu-links-vertical-principal li,
.pv-menu-links-vertical li {
	margin: 0;
	padding: 0;
	background-color: #057EAB;
}

.pv-menu-links-vertical-principal li:hover,
.pv-menu-links-vertical-principal li a:hover {
	color: #fff !important;
	text-decoration: none !important;
	background-color: #002d4b;
}

.pv-menu-links-vertical-principal li a,
.pv-menu-links-vertical li a {
	display: block;
	padding: 11px 6px 11px 14px;
	font: 16px ColaborateLightRegular !important;
	color: #fff !important;
	text-decoration: none !important;
	text-transform: uppercase;
	border-bottom: 1px solid #8dd4df;
	zoom: 1;
}

.pv-menu-links-vertical li {
	background-color: #39a6b9;
}

.pv-menu-links-vertical li a {
	padding-left: 30px;
	font-size: 14px !important;
	text-decoration: none !important;
}

.pv-menu-links-vertical li:hover,
.pv-menu-links-vertical li a:hover {
	color: #fff !important;
	text-decoration: none !important;
	background-color: #82bdc7;
}

#logo {
	height: 113px !important;
	width: 93px !important;
	/*text-indent: -5000px;
	cursor: text;
	background: url(../manual/img/logo-porto_seguro.gif) top left no-repeat !important; */
}

/* GRID FORMULARIOS - 600px */

.pv-col-1de4{float:left; width:130px; margin:0 20px 0 0;}
.pv-col-2de4{float:left; width:280px; margin:0 20px 0 0;}
.pv-col-3de4{float:left; width:430px; margin:0 20px 0 0;}
.pv-col-4de4{float:left; width:580px; margin:0 20px 0 0;}

.rich-menu-item-hover, .rich-menu-group-hover {
	background-color: #057EAB;
	border-color: #057EAB;
	color: #FFFFFF;
}

/* Suggestion Box */
.rich-sb-int-decor-table {background-color: white;}
.rich-sb-int-sel {background-color: #C7C7C7 !important; cursor: pointer;}
.rich-sb-overflow {background-color: white;}
.rich-sb-cell-padding {background-color: white;font-size: 12px !important;}
.richfaces_suggestionSelectValue {background-color: #C7C7C7 !important;}

.rich-panel-body { padding: 0px; }